{
    "bool":{
    {{#must}}
        "must": {{{must}}},
    {{/must}}
    {{#should}}
        "should": {{{should}}},
    {{/should}}
    {{#filter}}
        "filter": {{{filter}}},
    {{/filter}}
    {{#must_not}}
        "must_not": {{{must_not}}},
    {{/must_not}}
    }
}